* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "source sans pro", "open sans", Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: black;
    color: white;
    height: 100px;
}

a {
    color: white;
    text-decoration: none;
}

li {
    float: right;
    list-style: none;
}

#menu-checkbox {
    display: none;
}

.burger-menu {
    float: right;
}




footer {
    height: 160px;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    color: white;
    margin-top: auto;
}