* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background_color: black;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 150px;
    font-weight: bold;
    padding: 0 65px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.burgerMenu {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: var(--background_color);
    height: 100px;
    width: 100%;
    display: flex;
}

nav ul {
    margin-right: auto;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin: 50px 0;
    line-height: 30px;
    list-style: none;
}

nav ul li a {
    color: white;
    padding: 0px 5px;
    font-size: 22px;
    text-decoration: none;
}

#menu-checkbox:checked~ul {
    left: 0;
}

.menu-checkbox {
    font-size: 28px;
    color: white;
    position: absolute;
    line-height: 150px;
    right: 35px;
    cursor: pointer;
    display: none;
}

#menu-checkbox {
    display: none;
}


li>a.active,
li>a:hover {
    outline-color: red;
    outline-style: dotted;
    border-radius: 5px;
    transition: 0.4s;
}

.homePageTopSpot h1 {
    position: relative;
    right: 100px;
}

.homePageTopSpot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 100%;
    height: fit-content;
    margin: auto;
}

footer {
    background-color: var(--background_color);
    text-align: center;
    padding-top: 20px;
    color: white;
    margin-top: auto;
    z-index: 1000;
    bottom: 0;
    width: 100%;
}

time {
    font-weight: 700;
}

@media (max-width: 700px) {

    .menu-checkbox {
        display: block;
        margin-bottom: 20px;
    }

    .homePageTopSpot h1 {
        position: static;
    }

    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: var(--background_color);
        top: 75px;
        left: +100%;
        text-align: center;
        transition: 0.4s;
    }

    nav ul li {
        display: block;
    }
}

/*contactpage*/

.background {

    display: flex;
    flex-direction: row;
    background-image: linear-gradient(45deg, rgb(112, 185, 209), white);
    background-image: cover;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-header {
    color: black;
    font-size: 25px;
}

.contact-form {
    margin-top: 40px;
    background-color: rgb(45, 92, 194);
    max-width: 350px;
    height: fit-content;
    padding: 35px 25px 100px 25px;
    margin-bottom: 40px;
    text-align: left;
    border-radius: 4px;
    color: white;
}

.contact-form input,
textarea {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px 4px;
    outline: 1px solid;
}

.contact-form:first-child {
    margin-top: 40px;
}

fieldset legend {
    margin-bottom: 60px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 30px;
}

fieldset {
    border: 0;
    margin: auto;
}

form button {
    margin-top: 25px;
    padding: 4px 6px;
    background-color: black;
    border-radius: 2px;
    border: 2px solid;
    color: white;
    font-size: 18px;
}

.button {
    text-align: end;
}


.contact-form textarea {
    min-height: 70px;
}

.form-block {
    display: block;
}

.Errormessage {
    margin-left: 5px;
    background-color: rgb(45, 92, 194);
    color: rgb(45, 92, 194);
    padding: 3px;
    border-radius: 2px;
}

@media (max-width: 400px) {

    img {
        max-width: 640px;
        max-height: 400px;
        width: fit-content;
        text-align: center;
        border-radius: 8px;
        -webkit-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
        -moz-box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
        box-shadow: 0 28px 16px -26px rgba(0, 0, 0);
    }

    .pageStyling {
        padding: 50px;
        align-content: center;
    }

    .singlepost {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .singlepost:last-child {
        margin-bottom: 155px;
    }

    .postTitle,
    .wp-block-post-date {
        margin-left: 40px;
    }

    .singlepost p {
        max-width: 625px;
        position: relative;
        margin-left: 40px;
        line-height: 1.4;
    }

    .View_more_Posts .singlepost:last-child {
        width: 40px;
        height: 20px;
        background-color: aqua;
        color: black;
        position: relative;
    }

    .singlepost p:not(:first-of-type) {
        display: none;
    }

    .linkToFullPost {
        background-color: blue;
        color: white;
        height: 15px;
        width: fit-content;
        padding: 8px;
        float: right;
        margin-right: 5%;
        margin-bottom: 15px;
        border-radius: 5px;
        font-weight: 600;
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    img {
        width: 100%;
        height: auto;
    }

    .singlepost {
        padding: 5px;
    }

    .singlepost p {
        width: 80%;
    }

    .pageStyling {
        padding: 0;
    }

    .linkToFullPost {
        margin-right: 8%;
    }
}



/*blog_specific*/

.detailsContainer {
    display: grid;
    justify-content: center;
    color: black;
    height: fit-content;
    padding: 10px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
    margin-top: 40px;
    margin-top: 40px;
}

.detailsContainer p {
    margin-left: 40px;
    max-width: 625px;
    padding-right: 33px
}

.detailsContainer p:last-child {
    margin-bottom: 20px;
}

.detailsContainer h1 {
    margin-left: 40px;
}

.read-more {
    outline-style: double;
    width: fit-content;
    align-items: end;
}


/*modal*/

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(1, 0, 2, 0.9);
}

.modal-content img {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
    height: 65%;
    width: 65%;

}

.detailsContainer figure img {
    max-width: 600px;
    height: fit-content;
}



/*blogpage*/

#blogContainer {
    max-width: 600px;
    margin: 0 auto;
}

#blogContainer img {
    max-width: 600px;
}

.blogPageHeader {
    margin-top: 40px;
    margin-bottom: 40px;
}