* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --background_color: black;
}

.logo {
    color: white;
    font-size: 35px;
    line-height: 120px;
    font-weight: bold;
    padding: 0 65px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: var(--background_color);
    height: 90px;
    width: 100%;
    display: flex;
    position: fixed;
}

nav ul {
    margin-right: auto;
    text-transform: uppercase;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin: 50px 0;
    line-height: 30px;
    list-style: none;
}

nav ul li a {
    color: white;
    padding: 5px 8px;
    font-size: 22px;
    text-decoration: none;
}

#menu-checkbox:checked~ul {
    left: 0;
}

.menu-checkbox {
    font-size: 28px;
    color: white;
    position: absolute;
    line-height: 125px;
    right: 35px;
    cursor: pointer;
    display: none;
}

#menu-checkbox {
    display: none;
}

a.active,
a:hover {
    outline-color: red;
    outline-style: dotted;
    border-radius: 5px;
    transition: 0.4s;
}

main {
    background-color: aqua;
}

footer {
    height: 160px;
    background-color: var(--background_color);
    text-align: center;
    padding-top: 20px;
    color: white;
    margin-top: auto;
    z-index: 1000;

}

@media (max-width: 700px) {

    .menu-checkbox {
        display: block;
    }

    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: var(--background_color);
        top: 75px;
        left: +100%;
        text-align: center;
        transition: 0.4s;
    }

    nav ul li {
        display: block;
    }

}


/*contactpage*/

.background {
    background-image: linear-gradient(45deg, rgb(112, 185, 209), white);
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.page-content {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.contact-header {
    color: black;
    font-size: 25px;

}


.contact-form {
    margin-top: 100px;
    background-color: rgb(45, 92, 194);
    width: 350px;
    height: fit-content;
    padding: 35px 25px 100px 25px;
    margin-bottom: 40px;
    text-align: left;
    border-radius: 4px;

    color: white;
}

.contact-form input,
textarea {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px 4px;
    outline: 1px solid;
}

.contact-form:first-child {
    margin-top: 40px;
}

fieldset legend {
    margin-bottom: 60px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 30px;
}

fieldset {
    border: 0;
    margin: auto;
}

form button {
    margin-top: 25px;
    padding: 4px 6px;
    background-color: black;
    border-radius: 2px;
    border: 2px solid;
    color: white;
    font-size: 18px;
}

.button {
    text-align: end;
}


.contact-form textarea {
    min-height: 70px;
}


.form-block {
    display: block;
}


.Errormessage {
    margin-left: 5px;
    background-color: rgb(45, 92, 194);
    color: rgb(45, 92, 194);
    padding: 3px;
    border-radius: 2px;
}


@media (max-width: 400px) {
    .contact-form {
        width: 100%;
    }
}